<%= content_for :heading do %>
  <h1>
    <small><%= @noteable.name %></small><br>
    Notes
  </h1>
<% end %>

<div class="col-sm-6 col-md-6 col-md-offset-3">
  <%= render @notes if @notes %>
</div>
