<div class="row">
  <div class="col-md-3">

    <%= render partial: "shared/asset_details", locals: {:asset => @community} %>

  </div>
  <div class="col-md-9">
    <%= render "communities/tabs" %>
  </div>
</div>
